#canvas {
	/* display: block;
	width: 98vu;
	height: 98vu; */
	/* background-color: #A3A; */
}

.toolbar {
	position: absolute;
	bottom: 1em;
	right:1em;
	z-index:3;
}


.btn {
	/* background-color: blue; */
	/* padding:7px; */
}
.btn.active{
	background-color: #005;
	 color: white; 
	font-weight: bold;
}

.fullsize {
	position: absolute;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index:2;
}

.node:not(.expanded) text {
	text-anchor:middle;
	dominant-baseline : middle;
	font-family: serif;
	fill : black;
}

.node.expanded > .nodeshape {
	/* fill : rb(230, 150, 50, 1); */
	fill: rgba(100,100,100, 0.8);
}
.node.expanded text {
	/* text-anchor:middle; */
	/* dominant-baseline : middle; */
	font-family: serif;
	stroke: white;
}
.node.expanded.selected text {
	/* text-anchor:middle; */
	/* dominant-baseline : middle; */
	font-family: serif;
	fill: orange;
	stroke: red;
	font-weight:bold;
}


.linknode text {
	text-anchor:middle;
	dominant-baseline : middle;
	font-family: serif;
}
.linknode text.fg {
	fill: black;
	/* stroke-width: 5px; */
}
.linknode text.bg {
	stroke-width: 6px;
}

.linknode.selected text {
	/* font-size: 30px; */
}
.linknode:not(.selected) text {
	/* font-size: 5px;  */
	display: none;
}

.linknode.selected > text.bg {
	stroke: rgba(230,150,50,0.5);
}
.linknode:not(.selected) > text.bg {
	stroke: rgba(230,230,230,0.5);
}

.node:not(.selected) > .nodeshape {
	fill : rgba(200,200,200, 0.3);
	stroke-width: 1px;
	stroke: #888;
}

.node.selected > .nodeshape {
	fill : rgba(230, 150, 50, 0.4);
	stroke-width: 2px;
	stroke: #863;
}


.ghost {
	pointer-events: none;
}

body,html {
	margin: 0pt;
	padding: 0pt;
	width: 100%;
	height: 100%;
}
