#canvas {
	/* display: block;
	width: 98vu;
	height: 98vu; */
	/* background-color: #A3A; */
}

.toolbar {
	position: absolute;
	bottom: 1em;
	right:1em;
	z-index:3;
}


.btn {
	/* background-color: blue; */
	/* padding:7px; */
}

.fullsize {
	position: absolute;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index:2;
}

.node text {
	text-anchor:middle;
	dominant-baseline : middle;
	font-family: serif;
	fill : black;
}

.node:not(.selected) .nodeshape {
	fill : rgba(200,200,200, 0.3);
	stroke-width: 1px;
	stroke: #888;
}

.node.selected .nodeshape {
	fill : rgba(230, 150, 50, 0.4);
	stroke-width: 2px;
	stroke: #863;
}

.ghost {
	pointer-events: none;
}

body,html {
	margin: 0pt;
	padding: 0pt;
	width: 100%;
	height: 100%;
}
